.post {
    .post-content {
        .post-cover-image {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 2rem;
            margin-bottom: 2rem;
            width: 50%;
        }
    }
}
